body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f8f8f8;
  }
  header {
    background: #444;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: flex-end; /* Aligns navigation items to the right */
    background: #333;
    padding: 10px 0;
  }
  
  nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
  }
  .video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .video iframe, .video img {
    width: 100%;
    height: 100%;
  }
  .video .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
  }
  footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Increase min column width */
    grid-gap: 15px; /* Increase gap for better spacing */
  }
  
  .photo img {
    width: 100%; /* Full width of the column */
    height: 300px; /* Increased fixed height for all images */
    object-fit: cover; /* Ensures images cover the area without distorting aspect ratios */
    display: block; /* Removes any extra space below the image */
  }
  
  .about-me {
    width: 80%; /* Adjust the width as necessary */
    max-width: 600px; /* Sets a max-width for larger screens */
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds subtle shadow for depth */
    text-align: center; /* Centers the text inside the about-me section */
  }
  
  .about-me h2 {
    color: #333;
  }
  
  .about-me ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removes margin to align start edge of the list with the start edge of the heading */
  }
  
  .about-me li {
    padding: 8px 0;
  }